/*
Theme Name: GeneratePress Child
Theme URI: https://generatepress.com
Author: Tom Usborne
Author URI: https://tomusborne.com
Description: GeneratePress is a lightweight WordPress theme built with a focus on speed and usability. Performance is important to us, which is why a fresh GeneratePress install adds less than 10kb (gzipped) to your page size. We take full advantage of the block editor (Gutenberg), which gives you more control over creating your content. If you use page builders, GeneratePress is the right theme for you. It is completely compatible with all major page builders, including Beaver Builder and Elementor. Thanks to our emphasis on WordPress coding standards, we can boast full compatibility with all well-coded plugins, including WooCommerce. GeneratePress is fully responsive, uses valid HTML/CSS, and is translated into over 25 languages by our amazing community of users. A few of our many features include 60+ color controls, powerful dynamic typography, 5 navigation locations, 5 sidebar layouts, dropdown menus (click or hover), and 9 widget areas. Learn more and check out our powerful premium version at https://generatepress.com
Version: 3.1.3
Requires at least: 5.2
Tested up to: 5.9
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: generatepress
Tags: two-columns, three-columns, one-column, right-sidebar, left-sidebar, footer-widgets, blog, e-commerce, flexible-header, full-width-template, buddypress, custom-header, custom-background, custom-menu, custom-colors, sticky-post, threaded-comments, translation-ready, rtl-language-support, featured-images, theme-options
Template: generatepress

GeneratePress, Copyright 2014-2022 EDGE22 Studios LTD.
GeneratePress is distributed under the terms of the GNU GPL

GeneratePress is based on Underscores http://underscores.me/, (C) 2012-2022 Automattic, Inc.

Actual CSS can be found in /assets/css/ folder.
*/
/*font-family:"hero-new";*/
@import url("https://use.typekit.net/jcn6zmu.css");

span.en{font-family: "hero-new",sans-serif !important; font-weight:700;}
.swiper-container-horizontal>.swiper-pagination-bullets{width:auto !important; display:inline-block; text-align:left; bottom: -25px !important;}
.elementor-widget-reviews.elementor-pagination-type-bullets .elementor-swiper-button-next, .elementor-widget-reviews.elementor-pagination-type-bullets .elementor-swiper-button-prev, .elementor-widget-testimonial-carousel.elementor-pagination-type-bullets .elementor-swiper-button-next, .elementor-widget-testimonial-carousel.elementor-pagination-type-bullets .elementor-swiper-button-prev{bottom:10px; top:inherit !important;}
.home_testi .eicon-chevron-right:before{
	content:'';
	width:48px;
	height:48px;
	background:url('arw_prev.png');
	background-repeat:no-repeat;
	background-size:100%;
	position:absolute;
	top:0;
	right:18px;
}
.home_testi .eicon-chevron-left:before{
	content:'';
	width:48px;
	height:48px;
	background:url('arw_next.png');
	background-repeat:no-repeat;
	background-size:100%;
	position:absolute;
	top:0;
	right:55px;
}

.elementor-widget-testimonial-carousel .swiper-container-rtl .elementor-swiper-button-next{left:unset !important;}
.msgblock{display:none;}
.rou_bor:after{content: '';
    position: absolute;
	bottom: -69%;
    right: -8%;
    width: 350px;
    height: 348px;
    background-size: 100%;
    background: url('newframe.png');
    background-repeat: no-repeat;
    z-index: -1;
    background-size: 90%;
}
.elementor-select-wrapper .select-caret-down-wrapper .eicon-caret-down:before{
	content:'' !important;
	width:8px;
	height:5px;
	background:url('Vector.png');
	background-repeat:no-repeat;
	background-size:100%;
	position:absolute;
	top: 50%;
    transform: translateY(-65%);
}
#form:after,.form:after{
	content:'';
	width:276px;
	height:233px;
	background:url('botomlayer.png');
	background-repeat:no-repeat;
	background-size:100%;
	bottom:0;
	left:0;
	position:absolute;
}
.my-header{ width: 100%!important; }


@media only screen and (max-width: 1366px) {
	.rou_bor:after{
		bottom: -47%;
		right: -7%;
		 background-size: 90%;
	}
}

@media only screen and (max-width: 1024px) {
	/*.rou_bor:after{content:none;}*/
	#form:before{width:230px; height:230px; background:url('mobileframe.png'); right:0; top:82px;
	content: '';
    position: absolute;
	}
	.rou_bor:after {
	    bottom: -13%;
	    right: -11%;
	    background-size: 90%;
	}
}

@media only screen and (max-width: 768px) {
	
	#form:before{width:230px; height:230px; background:url('mobileframe.png'); right:0; top:82px;
	content: '';
    position: absolute;
	}
	#form:after,.form:after{
		width:194px;
		height:152px;
		background:url('mobile.png');
	}
	.rou_bor:after {
	    bottom: -10%;
	    right: -12%;
	    background-size: 90%;
	}
	
}

@media only screen and (max-width: 600px) {
	.rou_bor:after {
	    
	    right: -14%;
	    left: inherit;
	    /* margin: 0 !important; */
	    /* background-size: 50% !important; */
	    bottom: -44%;
	    margin-left: auto;
	    width: 260px;
	    height: 260px ;
	}
}
.elementor-field-group-field_226d47b a {color:#B0A9E0;text-decoration:underline;}
.elementor-field-group-field_226d47b a:hover {color:#7B73EA;}